<!-- users-list.component.html -->
<div class="users-container">
  <div class="search-container">
    <mat-form-field class="search-input">
      <input matInput placeholder="Search" [(ngModel)]="searchInput" (input)="onSearchInputChange()">
    </mat-form-field>
  </div>

  <div class="users-table-container">
    <mat-table [dataSource]="otherUsersNames" class="mat-elevation-z8">
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
        <mat-cell *matCellDef="let username">{{ username }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let username">
          <button mat-raised-button color="primary" class="view-profile-button" (click)="viewUserProfile(username)">View Profile</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['username', 'action']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['username', 'action'];" [class.selected]="selectedUser && selectedUser.username === row"></mat-row>
    </mat-table>
  </div>
</div>
