<div>
  <h2>Welcome {{ username }}!</h2>
  <p>Gender: {{ gender }}</p>
  <p>Age: {{ age }}</p>
  <p>Phone Number: {{ phoneNumber }}</p>
  <p>Email: {{ email }}</p>
  <button (click)="logout()">Logout</button>
</div>
-----------------------------------------------------------------------------------------------

<br>
<!-- Formulaire pour ajouter un contact -->
<div class="add-contact-form">
  <h3>Ajouter un contact</h3>
  <form (ngSubmit)="onAddContact()" #addContactForm="ngForm">
    <label for="contactname">Nom du contact:</label>
    <input type="text" id="contactname" [(ngModel)]="newContact.contactname" name="contactname" required />

    <label for="email">Email:</label>
    <input type="text" id="email" [(ngModel)]="newContact.email" name="email" required />

    <label for="phoneNumber">Numéro de téléphone:</label>
    <input type="int" id="phoneNumber" [(ngModel)]="newContact.phoneNumber" name="phoneNumber" required />

    <button type="submit">Ajouter un contact</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
      <button (click)="clearErrorMessage()">Fermer</button>
    </div>
    
  </form>
</div>
<br>

-----------------------------------------------------------------------------------------------
<div *ngIf="contacts && contacts.length > 0">
  <h3>Liste des Contacts</h3>
  <ul>
    <li *ngFor="let contact of contacts">
      {{ contact.contactname }} - {{ contact.email }} - {{ contact.phoneNumber }}
    </li>
  </ul>
</div>

<div *ngIf="contacts && contacts.length === 0">
  <p>Votre liste des contacts est vide!</p>
</div>
-----------------------------------------------------------------------------------------------

<h3>Other User Names:</h3>
<ul>
  <li *ngFor="let otherUserName of otherUsersNames">
    {{ otherUserName }}
    <button (click)="viewUserProfile(otherUserName)">View Profile</button>
    <div *ngIf="selectedUser && selectedUser.username === otherUserName" class="user-details-box">
      <!-- Display details for the selected user -->
      <div class="user-details">
        <p>Gender: {{ selectedUser.gender }}</p>
        <p>Age: {{ selectedUser.age }}</p>
        <p>phoneNumber: {{ selectedUser.phoneNumber }}</p>
        <p>email: {{ selectedUser.email }}</p>
      </div>
    </div>
    <br>
  </li>
</ul>
-----------------------------------------------------------------------------------------------


