<div class="user-info-container">
  <h2>Welcome {{ username }}!</h2>
  <p>Gender: {{ gender }}</p>
  <p>Age: {{ age }}</p>
  <p>Phone Number: {{ phoneNumber }}</p>
  <p>Email: {{ email }}</p>
</div>


<div class="logout-icon">
  <button type="button" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>


<div class="contacts-container">
<h2>Liste des Contacts:
  <button class="add-contact-button" (click)="openAddContactDialog()" matTooltip="Nouveau contact">
    <span class="icon"><mat-icon>person_add</mat-icon></span>
  </button>
</h2>
<table *ngIf="contacts && contacts.length > 0" class="contacts-table">
  <thead>
    <tr>
      <th>Contact Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.contactname }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phoneNumber }}</td>
      <td>
        <button class="remove-contact-button" (click)="removeContact(contact)" matTooltip="Supprimer le contact">
          <mat-icon>delete</mat-icon>
        </button>
        <button class="update-contact-button"  matTooltip="Modifier le contact">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="contacts && contacts.length === 0">
  <p>Votre liste des contacts est vide!</p>
</div>
</div>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<h3>Other User Names:</h3>
<ul>
  <li *ngFor="let otherUserName of otherUsersNames">
    {{ otherUserName }}
    <button (click)="viewUserProfile(otherUserName)">View Profile</button>
    <div *ngIf="selectedUser && selectedUser.username === otherUserName" class="user-details-box">
      <!-- Display details for the selected user -->
      <div class="user-details">
        <p>Gender: {{ selectedUser.gender }}</p>
        <p>Age: {{ selectedUser.age }}</p>
        <p>phoneNumber: {{ selectedUser.phoneNumber }}</p>
        <p>email: {{ selectedUser.email }}</p>
      </div>
    </div>
    <br>
  </li>
</ul>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


<mat-icon>add</mat-icon>
<mat-icon>edit</mat-icon>

<mat-icon>delete</mat-icon>
